{% extends "base.html" %}

{% block title %}Upload a new image{% endblock %}

{% block body %}
    <form method="POST" action="" enctype="multipart/form-data" class="col-sm-4 offset-4 py-5 my-5 border border-primary rounded px-5 border-success">
        <h2>Upload an image!</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit" class="btn btn-lg btn-success" style="background-color: #032F03;">Submit form</button>
        </div>
    </form>
{% endblock %}
